<footer class="text-center text-lg-start bg-secondary text-muted fixed-bottom">
  <div class="text-center p-4" style="color: rgba(255, 255, 255, 1);">
    Website made by:
    <a class="text-reset fw-bold" href="https://nathanzaloum.herokuapp.com/">Nathan Zaloum</a>
  </div>
</footer>