<h1>Edit journal entry</h1>

<%= render "form", journal: @journal %>

<br>

<div>
  <%= link_to "Show this journal", @journal, :class => "btn btn-primary" %>
  <br><br>
</div>

<div>
  <%= link_to "Back to journals", journals_path, :class => "btn btn-secondary" %>
</div>
