<%= render @journal %>

<div>
  <%= link_to "Edit this journal", edit_journal_path(@journal), :class => "btn btn-primary" %>
  <br><br>
</div>

<div>
  <%= button_to "Delete this journal", @journal, method: :delete, :class => "btn btn-danger" %>
  <br>
</div>

<div>
  <%= link_to "Back to journals", journals_path, :class => "btn btn-secondary" %>
</div>
